<div>
    <div class="pat-display">
        <div>
            <video autoplay="" preload="auto" muted loop id="pat-bg-video">
                <source src="assets/video/auroreboreale.mp4" type="video/mp4">
            </video>
        </div>
        <div>
            <section>
                <div class="jumbotron pat-jumbotron">
                    <h1 class="text-center">{{"HOME.HOMETITLE" | translate }}</h1>
                    <p class="text-center">{{"HOME.HOMESUBTITLE" | translate }}</p>
                </div>
                <div class="banner">
                    <div class="container">
                        <h2 class="text-center pat-banner">{{"HOME.CITATION" | translate }}</h2>
                        <!--     <p class="text-right">{{"HOME.AUTHOR" | translate }}</p>   -->
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>