<div>
    <div class="pat-display">
        <div>
            <video autoplay="" preload="auto" muted loop id="pat-bg-video" class="d-none d-md-block fullscreen-video">
                <source src="assets/video/auroreboreale.mp4" type="video/mp4">
            </video>

            <!-- Video for smartphones (< 992px) -->
            <video autoplay="" preload="auto" muted loop id="pat-bg-video" class="d-block d-md-none fullscreen-video">
                <source src="assets/video/240_F_554249302_yxUSqtMZs3HPEjrGEHLGCU5rMXgtPOHD_ST.mp4" type="video/mp4">
            </video>
        </div>
        <div>
            <section>
                <div class="jumbotron pat-jumbotron enter-vertically">
                    <h3 class="text-center">{{"HOME.HOMETITLE" | translate }}</h3>
                    <p class="text-center">{{"HOME.HOMESUBTITLE" | translate }}</p>
                </div>
                <div class="banner">
                    <div class="container">
                        <h2 class="text-center pat-banner">{{"HOME.CITATION" | translate }}
                        </h2>
                        <!--        <p class="text-right">{{"HOME.AUTHOR" | translate }}</p>  -->
                    </div>
                </div>
                <small>v2</small>
            </section>
        </div>
    </div>
</div>